body {
    box-sizing: border-box;
    padding: 0;
    overflow-x: hidden;
}

.carousel-inner {
    overflow-y: hidden;
    border: 20px solid #84c2ff;
    border-style: outset;
    border-radius: 20px;
}

.carousel-item {
    height: 80vh;
    width: 90vw;
}

.SlideImage {
    height: 100%;
    width: 100%;
    overflow: hidden;
    opacity: 0.2;
}

.carousel-indicators li {
    background-color: #a5d2ff;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert();
    opacity: 0.4;
}

.carousel-caption {
    color: #1c3c5b;
}

@media (max-width:600px) {
    .carousel-item {
        height: 55vh;
    }

    .ContactForm{
        width: 100vw;
    }
}

@media (max-width: 1500px) {

    html,
    body {
        overflow-x: hidden;
    }

    img,
    video {
        max-width: 100%;
        height: auto;
    }
    .container {
        width: 100%;
        padding: 0 15px;
        box-sizing: border-box;
    }
}